[submodule "ufs-land-driver"]
	path = ufs-land-driver
        url = https://github.com/NOAA-EMC/ufs-land-driver
        branch = main
[submodule "DA_update"]
	path = DA_update
	url = https://github.com/NOAA-PSL/land-DA_update.git
        branch = develop
[submodule "vector2tile"]
	path = vector2tile
	url = https://github.com/tsga/land-vector2tile
	branch = develop
[submodule "wxflow"]
	path = wxflow
	url = https://github.com/NOAA-EMC/wxflow
	branch = develop
[submodule "land_ensemble_gen"]
	path = land_ensemble_gen
	url = https://github.com/NOAA-PSL/land_ensemble_gen
	branch = develop
